.navigation {
  position: fixed;
  top: -5px;
  left: 0;
  height: 6vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  z-index: 10;
  background: white;
}

.navigation .logo-container {
    height: 50px;
    width: 50px;
}

.navigation .nav-links-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      font-family: 'Roboto', sans-serif;
}